
    body {
        font-family: 'Droid Sans', sans-serif;
        background-color: rgb(240, 240, 240);
        color: black;
    }

    header {
        font-family: 'Fauna One', serif;
        padding: 20px;
        margin: 0 auto;
        background-color:rgb(28, 104, 187);
        color: white;
        text-align: left;
        border-radius: 20px;
        border-radius: 20px;
    }

    article {
      margin: 0 auto;
      line-height: 150%;
      font-size: 13pt;
    }

    input {                         /* email signup input box */
        font-size: 14px;
        padding: 5px 50px 5px 50px;
    }

    h1{
        font-size: 100px;
        margin: 0 auto;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(28, 104, 187);
        font-weight: 700;
        font-size: 23pt;
        line-height:1;
    }

    h4 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(28, 104, 187);
        font-weight: 700;
        font-size: 16pt;
        line-height:1;
    }

    a {
        color: rgb(28, 104, 187);
        text-decoration: none;
        position: relative;
    }

   a:hover {
        text-decoration: none;
        color:white;
    }

    a:active {
        top: 2px;
    }

    .navbox a:link {
        /*padding-top: 20px;*/
        color: rgb(1, 95, 197);
    }

    #navlinks {
        color: white;
    }

    .navbox a:hover{
        color: rgb(1, 95, 197);
    }

    #navbar li{
        /*display: inline;*/
        /*list-style-type: none;*/
        padding: 10px 0px 10px 0px;
        margin: 0px;
        color: white;
    }

    #navbar {
        background-color: #302E2E;
        /*margin: 0 auto;*/
        padding: 10px 0px 10px 0px;
        font-size: 1.2em;
        border-radius:20px;
        border-radius:20px;
        /*z-index: -1;*/
    }

    ul {
        list-style-type: none;
        margin-left: 0px;
    }

    #quote-img {
        background-image: url("bikepic.jpg");
        width: 575px;
        height: 320px;
        background-size:575px;
        z-index: -1;
        position: relative;
        border: 5px solid black;
    }

    .quote-overlay {
        background-color:rgba(0, 20, 43, 0.28);
        width: 580px;
        height: 325px;
        z-index: 1;
    }

    #quote-overlay > div {
        position: absolute;
    }

    .quote-text {
        color: white;
        font-weight: bold;
        font-size: 20px;
        z-index: 5;
        margin-top:-306px;
        padding: 40px;
    }

    #content {
        font-style: bold;
        padding: 6px 0px 6px 0px;
        margin: 80px 20px 0px 0px;
    }

    #blog-content{
        float: left;
        /*padding-top: 20px;*/
        margin-left:55px;
    }

    #social-media{
        float: right;
        padding-right: 20px;
        padding-bottom: 15px;
        z-index: 5;
    }

    #logo {
        display: inline;
    }

    #mc_embed_signup {
        font-size: 12px; 
        color: white;
        width: 250px; 
        padding: 20px; 
        float: right;
        text-align: right;
        /*position: absolute;*/
        /*display:inline-block;*/
        margin-top: 40px;
        text-align: left;
        background-color: #000;
        border-radius: 20px;
    }

    .mc-field-group-input-group {               /* email format radio list */
        text-align: left;
    }

    #mc-embedded-subscribe{
        font-size:10px;
        margin: 0 auto;
        text-align: left;
    }

    #about-links{
        color:rgb(1, 95, 197);
    }

    #about-links:hover{
        color:white;
    }

/* Dude div ID */
    #instagram { 
        overflow: auto;
        padding: 30px 0px 80px 0px;
        text-align: center;
        margin: 0 auto;
   }

/* images that come in via the instaImgCirc script*/
    .instaImgCirc img {
        width: 175px;
        height: 175px;
        border-radius: 500px;
        border: 2px black solid;
        display: inline-block;
        margin: 5px;
    }
/* The images each have their own div */    
/* How to make it work with 4 across? i.e. 25% */
/* Something to do with vertical-align: baseline ?*/

    .instaImgCirc {
        text-align: center;
        width: 32%;
        float: left;
    }
