<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link href="{{ site.baseurl }}/css/css.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/css/960_12_col.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
  
</head>

<body class="container_12">

<div id="banner">

    <header>
        <h1>Biking Acr<img src="{{ site.baseurl }}/images/bike-wheel.png" height="80" />ss </h1>
        <h2>A TransAmerican bike trip in summer 2014</h2>
    </header>  

    <div>
        <ul id="navbar">
            <li><a href="{{ site.baseurl }}/index.html">Blog</a></li>
            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
            <li><a href="{{ site.baseurl }}/map.html">Map Tracker</a></li>
            <li><a href="{{ site.baseurl }}/photos.html">Photo Feed</a></li>
            <li><a href="{{ site.baseurl }}/gear.html">Gear List</a></li>
        </ul>
    </div>

</div>

    <div id="blog-content" class="grid_8">

          {{ content }}

    </div>

<!--  I'll add a footer later:

          <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div>
-->

    </body>

</html>
