---
layout: default
---

<div id="blog-content" class="grid_8">

	<h3>{{ page.title }}</h3>

	<p style="color:grey;"> {{ page.date | date: "%B %d, %Y" }} </p>

	{% if page.image-link %}
  	<img width="575px" src="{{ site.baseurl }}/images/{{ page.image-link }}" style="border: 5px solid black" />
  	{% endif %}
  	{% if page.image-url %}
  	<img width="575px" src="{{ page.image-url }}" style="border: 5px solid black" />
  	{% endif %}

	<article>

	{{ content }}

	</article>

	<a href="{{ site.baseurl }}/index.html">Back to Blog</a>
	<br><br>
	<img src="{{ site.baseurl }}/bike-wheel-grey.png" width="35px">
	<br><br>

</div>



